In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
from flask import (
    Flask,
    render_template,
    jsonify,
    request)

from flask_sqlalchemy import SQLAlchemy

In [2]:
# Store filepath in a variable
file_one = os.path.join("db", "Belly_Button_Biodiversity_Metadata.csv")
file_two = os.path.join("db", "belly_button_biodiversity_otu_id.csv")
file_three = os.path.join("db", "belly_button_biodiversity_samples.csv")
file_four = os.path.join("db", "metadata_columns.csv")

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
metadata_df = pd.read_csv(file_one, encoding="ISO-8859-1")
otu_id_df = pd.read_csv(file_two, encoding="ISO-8859-1")
samples_df = pd.read_csv(file_three, encoding="ISO-8859-1")
columns_df = pd.read_csv(file_four, encoding="ISO-8859-1")

In [4]:
# Show 5 rows and the header 
metadata_df.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [5]:
# Flask Setup
#################################################
app = Flask(__name__)

In [6]:
@app.route("/")
def home():
    return "Welcome!"